strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*@umijs/lint*
public-hoist-pattern[]=*changelog*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*remark-lint*
public-hoist-pattern[]=*remark-frontmatter*
public-hoist-pattern[]=*remark-pangu*
public-hoist-pattern[]=*remark-preset*
public-hoist-pattern[]=*remark-remove*
public-hoist-pattern[]=*remark-sort*
public-hoist-pattern[]=*remark-textr*
public-hoist-pattern[]=*remark-toc*
public-hoist-pattern[]=*semantic-release*
public-hoist-pattern[]=*stylelint*
