name: Build and Release

on:
  push:
    branches:
      - '*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js v18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install pnpm v8.x
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: setting token of private npm registry
        run: |
          npm set //dev-npm.tenxcloud.net/:_authToken="${{ secrets.PRIVATE_NPM_TOKEN }}"

      - name: Install deps
        run: pnpm i

      # - name: Test
      #   run: npm run test

      - name: Build
        run: npm run build

      - name: Release
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Sync to cnpm
        run: /
          npm install -g cnpm
          cnpm sync @yuntijs/react-markdown-lowcode-materials
          cnpm sync @yuntijs/ui-lowcode-materials
